<div [formGroup]="checkoutForm()">
  <div class="checkout-section" [formGroup]="checkoutForm()">
    <div class="header-container">
      <h4>Shipping address</h4>
      <button mat-button (click)="saveUserAddress()"
              [disabled]="!checkoutForm().get('addressForm')?.valid || !checkoutForm().get('addressForm')?.dirty"
              color="primary">
        Save as default address
      </button>
    </div>
    <div formGroupName="addressForm">
      <div class="form-field">
        <app-text-input [label]="'First name'" formControlName="firstName"></app-text-input>
      </div>
      <div class="form-field">
        <app-text-input [label]="'Last name'" formControlName="lastName"></app-text-input>
      </div>
      <div class="form-field">
        <app-text-input [label]="'Street'" formControlName="street"></app-text-input>
      </div>
      <div class="form-field">
        <app-text-input [label]="'City'" formControlName="city"></app-text-input>
      </div>
      <div class="form-field">
        <app-text-input [label]="'State'" formControlName="state"></app-text-input>
      </div>
      <div class="form-field">
        <app-text-input [label]="'Zip code'" formControlName="zipCode"></app-text-input>
      </div>
    </div>
  </div>

  <div class="action-buttons">
    <button mat-stroked-button routerLink="/basket" color="primary">
      <mat-icon>arrow_back</mat-icon> Back to basket
    </button>
    <button mat-raised-button color="accent" [disabled]="isActivatedGoToDeliveryButton()" cdkStepperNext>
      Go to delivery <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
