<div class="product">
  <div class="image d-flex align-items-center justify-content-center bg-light">
    <img class="img-fluid" src="{{product.pictureUrl}}" alt="{{product.name}}">
    <div class="hover-overlay d-flex align-items-center justify-content-center">
      <div class="CTA d-flex align-items-center justify-content-center">
        <button (click)="addItemToBasket()" title="add" type="button"
        class="btn btn-outline-primary fa fa-shopping-cart"></button>
        <a routerLink="/shop/{{product.id}}" routerLinkActive="router-link-active" class="active">
          <i class="fa fa-search"></i> View
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#productView">
          <i class="fa fa-expand"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="pt-3">
    <small class="text-muted">{{product.productType}}</small>
    <a class="reset-anchor" href="#">
      <h3 class="h6 mb-0 text-uppercase">{{product.name}}</h3>
    </a>
    <span class="text-muted">{{product.price | currency}}</span>
  </div>
</div>
