.full-width {
  width: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--template-color);
}

.is-invalid {
  border-color: red;
}

.is-valid {
  border-color: green;
}
