<mat-form-field class="full-width" appearance="fill">
  <mat-label>{{ label() }}</mat-label>
  <input
    matInput
    [type]="type()"
    (input)="onInputChange($any($event.target).value)"
    (blur)="onInputBlur()"
    (focusout)="handleFocusOut()"
    id="{{ label() }}"
    #input
    placeholder="{{ label() }}"
    [attr.autocomplete]="autocomplete()"
    [formControl]="formControl"
  >
  <mat-icon matSuffix *ngIf="controlDir.control?.valid" color="primary">check_circle</mat-icon>

  <mat-progress-spinner
    *ngIf="controlDir?.control?.status === 'PENDING'"
    mode="indeterminate"
    diameter="20"
    class="loader"
  ></mat-progress-spinner>
  <mat-error *ngIf="controlDir?.control?.hasError('required') && controlDir?.control?.touched">
    {{ label() }} is required
  </mat-error>
  <mat-error *ngIf="controlDir?.control?.hasError('email') && controlDir?.control?.touched">
    Invalid email address
  </mat-error>
  <mat-error *ngIf="isPasswordInvalid()">
    Password must have 1 Uppercase, 1 Lowercase, 1 number, 1 non alphanumeric, and at least 6 characters
  </mat-error>
  <mat-error *ngIf="isThereMatchEmailErrorType()">
    Confirm Password does not match
  </mat-error>
  <mat-hint *ngIf="!controlDir?.control?.valid && controlDir?.control?.dirty">
    <span *ngIf="isEmailAlreadyTaken()">Email address is in use</span>
  </mat-hint>
</mat-form-field>
