<div class="new-brand-container">
  <button [appCheckPolicy]="policyNames.RequireAtLeastAdministratorRole" (click)="createBrand()" mat-raised-button color="primary" class="new-brand-button">
    <mat-icon>add_circle_outline</mat-icon> New Brand
  </button>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="brands()" matSort>
    @for(column of columnsToDisplay; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          @if (column !== 'Action') {
            <div mat-sort-header>{{column}}</div>
          } @else {
            {{column}}
          }
        </th>
        <td mat-cell *matCellDef="let row">
          @if(column === 'Action') {
            <button (click)="editBrand(row.id)" mat-icon-button color="accent" [appCheckPolicy]="policyNames.RequireAtLeastAdministratorRole">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            <button (click)="deleteBrand(row.id)" mat-icon-button color="warn" [appCheckPolicy]="policyNames.RequireSuperAdminRole">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          } @else {
            {{row[column] | formatValue:column}}
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data available.</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" [length]="totalCount()" showFirstLastButtons aria-label="Select page of brands"></mat-paginator>
</div>
