/* General styles */
mat-form-field {
  width: 100%;
  max-width: 300px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

th {
  font-weight: bold;
}

tr.mat-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

tr.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Paginator styles */
mat-paginator {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

mat-form-field {
  margin-bottom: 16px;
}

/* Button styles */
button {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.24);
}

/* Button icons */
button .details-icon {
  color: #3f51b5;
}

button .edit-icon {
  color: #FFC107;
}

button .delete-icon {
  color: #f44336;
}

/* Button mit Icon */
button.mat-raised-button {
  margin: 20px 0;
  font-size: 18px;
  padding: 12px 24px;
  display: inline-flex;
  align-items: center;  /* Vertikale Ausrichtung */
}

.mat-icon {
  margin-right: 8px;  /* Abstand zwischen Icon und Text */
  vertical-align: middle;  /* Vertikale Ausrichtung */
  color: green;  /* Ändern der Icon-Farbe */
}
