
@if (success() !== null) {
  <div class="email-confirmation-container">
    <h1>{{ TranslationKeys.ConfirmEmail.Title | translate }}</h1>
    @if (success()) {
      <div class="success-message">
        <p>{{ TranslationKeys.ConfirmEmail.Success | translate: [email()] }}</p>
      </div>
    }
    @if (!success()) {
      <div class="error-message">
        <p>{{ TranslationKeys.ConfirmEmail.Failure | translate: [email()] }}</p>
      </div>
    }
    <button (click)="redirectToHome()" class="home-button">{{ TranslationKeys.Common.GoHome | translate }}</button>
  </div>
}
