<div class="container py-1">
  <div class="row mb-4">
    <div class="col-md-7">
      <p class="h6 text-uppercase text-primary">About us</p>
      <h1>The power of business</h1>
      <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
      <p class="text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </div>
    <div class="col-md-6">
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
