<div class="forgot-password-container">
  <h2 class="title">{{ TranslationKeys.Auth.ForgotPasswordTitle | translate }}</h2>
  <p class="description">
      {{ TranslationKeys.Auth.ForgotPasswordText | translate }}
  </p>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <input type="email" class="form-control" [placeholder]="TranslationKeys.Auth.EnterYourEmail | translate" formControlName="email" required>
      </div>
      <button type="submit" class="submit-btn" [disabled]="!forgotPasswordForm.valid || isSubmitting()">{{ TranslationKeys.Auth.SendResetLink | translate }}</button>
  </form>
</div>
