<div class="forgot-password-container">
  <h2 class="title">Forgot Your Password?</h2>
  <p class="description">
      Enter your email address below, and we'll email you instructions for setting a new password.
  </p>
  <form [formGroup]="forgotPasswordForm()" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter your email" formControlName="email" required>
      </div>
      <button type="submit" class="submit-btn" [disabled]="!forgotPasswordForm().valid || isSubmitting()">Send Reset Link</button>
  </form>
</div>
