<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span class="admin-panel-title">Admin Panel</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div class="logo-container">
      <img routerLink="/" alt="logo" class="avatar mat-elevation-z8 logo" src="../../../../assets/img/logo-s.png" />
    </div>
    <mat-divider></mat-divider>

    <ul class="nav-list">
      <li class="nav-item" *ngFor="let item of navItems">
        <a routerLink="{{ item.link }}"
        [routerLinkActiveOptions]="{ exact:true }"
        routerLinkActive="active">
          <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
          <span>{{ item.name }}</span>
        </a>
      </li>
    </ul>

    <mat-divider></mat-divider>

    <div class="logout-container">
      <button mat-button color="warn" (click)="logout()">Logout</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
