@if (product(); as p) {
<article class="product-card">
  @if (isDiscountActive()) {
    <span class="product-card__badge">{{ TranslationKeys.Product.Sale | translate }}</span>
  }

  <a [routerLink]="['/shop', p.id]" class="product-card__media" [attr.aria-label]="'View details for ' + p.name">
    @if (imageUrl()) {
      <img
        [ngSrc]="imageUrl()"
        width="287"
        height="287"
        class="product-card__image"
        [alt]="p.name"
        [priority]="isPriority()"
        sizes="(max-width: 600px) 45vw, (max-width: 960px) 30vw, 25vw"
      />
    }
    <span class="product-card__overlay" aria-hidden="true">{{ TranslationKeys.Product.ViewDetails | translate }}</span>
  </a>

  <div class="product-card__body">
    <h3 class="product-card__title">
      <a [routerLink]="['/shop', p.id]" class="product-card__title-link">{{ p.name }}</a>
    </h3>

    <p class="product-card__price">
      @if (p.previousPrice) {
        <span class="product-card__price-current product-card__price-current--sale">{{ p.price | currency }}</span>
        <s class="product-card__price-old">{{ p.previousPrice | currency }}</s>
      } @else {
        <span class="product-card__price-current">{{ p.price | currency }}</span>
      }
    </p>

    @if (p.hasVariants) {
      <a mat-flat-button [routerLink]="['/shop', p.id]" class="product-card__cta"
        [attr.aria-label]="'Choose options for ' + p.name">
        <mat-icon>tune</mat-icon>
        {{ TranslationKeys.Product.ChooseOptions | translate }}
      </a>
    } @else {
      <button mat-flat-button type="button" class="product-card__cta" (click)="addItemToBasket()"
        [attr.aria-label]="'Add ' + p.name + ' to cart'">
        <mat-icon>add_shopping_cart</mat-icon>
        {{ TranslationKeys.Product.AddToCart | translate }}
      </button>
    }
  </div>
</article>
}
