@if(product()) {
<mat-card class="product-card mat-elevation-z4">

  @if (isDiscountActive()) {
    <div class="sale-ribbon">SALE</div>
  }

  <a [routerLink]="['/shop', product().id]" class="image-container">
    @if (imageUrl()) {
      <img
        [ngSrc]="imageUrl()"
        width="287"
        height="287"
        class="product-image"
        [alt]="product().name"
        [priority]="isPriority()"
        sizes="(max-width: 600px) 45vw, (max-width: 960px) 30vw, 33vw"
      />
    }
  </a>

  <mat-card-content class="product-content">
    <a routerLink="/shop/{{product().id}}" class="product-link">
      <h3 class="product-title">{{product().name}}</h3>
    </a>

    <div class="price-container">
      @if (product().previousPrice) {
        <span class="current-price sale-price">
          {{ product().price | currency }}
        </span>
        <span class="old-price">
          {{ product().previousPrice | currency }}
        </span>
      } @else {
        <span class="current-price">
          {{ product().price | currency }}
        </span>
      }
    </div>
  </mat-card-content>

  <mat-card-actions class="product-actions">
    <button mat-raised-button color="primary" (click)="addItemToBasket()" class="add-to-cart-btn">
      <mat-icon>shopping_cart</mat-icon> Add to Cart
    </button>
  </mat-card-actions>
</mat-card>
}
