.full-width {
  width: 100%;
}

.mat-form-field {
  margin-bottom: 1.5rem;
}

.mat-icon {
  cursor: pointer;
}

.filter-container {
  transition: transform 0.3s ease-in-out;
}

.mobile-hidden {
  display: none !important;
}

.toggle-filter-btn {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  z-index: 1;
  position: relative;
}

@media (max-width: 768px) {
  .filter-container {
    display: none;
    position: relative;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    overflow-y: auto;
  }

  .filter-container:not(.mobile-hidden) {
    display: block !important;
    margin-top: 20px;
  }

  .products-container {
    margin-top: 20px;
  }
}

.mat-grid-tile {
  margin-bottom: 0;
}

.product-card {
  margin-bottom: 0;
}
