<main>
  <div class="page-container">
    <div class="filter-toggle-container">
      <!-- Toggle Button for Filters (Visible on Mobile) -->
      <button *ngIf="isMobileScreen()" mat-raised-button color="primary" class="toggle-filter-btn"
        (click)="toggleFilters()">
        Toggle Filters
      </button>
    </div>

    <div class="main-content">
      <div class="filter-container" [ngClass]="{ 'mobile-hidden': filtersHidden() }">
        <!-- Search -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search" #search (keyup.enter)="onSearch()" />
          <mat-icon matSuffix (click)="onSearch()">search</mat-icon>
          <mat-icon matSuffix (click)="onReset()">refresh</mat-icon>
        </mat-form-field>

        <!-- Sale -->
        <h6 class="section-title">Sale</h6>
        <mat-form-field appearance="outline" class="full-width custom-margin">
          <mat-label>Sale</mat-label>
          <mat-select [(ngModel)]="shopParams().sale" (selectionChange)="onFilterSelected($event.value, 'sale')">
            <mat-option *ngFor="let sale of saleOptions" [value]="sale.value">
              {{ sale.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Sort -->
        <h6 class="section-title">Sort</h6>
        <mat-form-field appearance="outline" class="full-width custom-margin">
          <mat-label>Sort</mat-label>
          <mat-select [(ngModel)]="shopParams().sort" (selectionChange)="onFilterSelected($event.value, 'sort')">
            <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
              {{ sort.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Brands, Types, Sizes -->
        <ng-container *ngIf="types() && brands()">
          <h6 class="section-title">Show by Brand</h6>
          <mat-form-field appearance="outline" class="full-width custom-margin">
            <mat-label>Show by Brand</mat-label>
            <mat-select [(ngModel)]="shopParams().brandId" (selectionChange)="onFilterSelected($event.value, 'brand')">
              <mat-option *ngFor="let brand of brands()" [value]="brand.id">
                {{ brand.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h6 class="section-title">Show by Type</h6>
          <mat-form-field appearance="outline" class="full-width custom-margin">
            <mat-label>Show by Type</mat-label>
            <mat-select [(ngModel)]="shopParams().typeId" (selectionChange)="onFilterSelected($event.value, 'type')">
              <mat-option *ngFor="let type of types()" [value]="type.id">
                {{ type.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h6 class="section-title">Show by Size</h6>
          <mat-form-field appearance="outline" class="full-width custom-margin">
            <mat-label>Show by Size</mat-label>
            <mat-select [(ngModel)]="shopParams().sizeId" (selectionChange)="onFilterSelected($event.value, 'size')">
              <mat-option *ngFor="let size of sizes()" [value]="size.id">
                {{ size.size }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>

      <div class="product-grid-container">
        <!-- Header -->
        <div class="header-container">
          <app-paging-header
          [pageNumber]="shopParams().pageNumber!"
          [pageSize]="shopParams().pageSize!"
            [totalCount]="totalCount()">
          </app-paging-header>

        </div>
        <div class="product-grid">
          <div *ngFor="let item of products()">
            <app-product-item [product]="item"></app-product-item>
          </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <app-pager [pageSize]="shopParams().pageSize!" [totalCount]="totalCount()"
            [pageNumber]="shopParams().pageNumber!" (pageChanged)="onPageChanged($event)"></app-pager>
        </nav>
      </div>
    </div>
  </div>
</main>
