<section>
  <div class="page-container contact-container">
    <header class="contact-header">
      <h2>Contact Me</h2>
    </header>
    <div class="contact-content">
      <div class="contact-form-container">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" id="contact-form">
          <div class="form-row">
            <div class="form-col">
              <app-text-input [label]="'First Name'" formControlName="firstName"></app-text-input>
            </div>
            <div class="form-col">
              <app-text-input [label]="'Last Name'" formControlName="lastName"></app-text-input>
            </div>
          </div>
          <div class="form-col">
            <app-text-input [label]="'Email Address'" formControlName="email"></app-text-input>
          </div>
          <div class="form-col">
            <app-text-textarea [label]="'Message'" [rows]="4" formControlName="message"></app-text-textarea>
          </div>
          <div class="form-col">
            <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid || isSubmitting()">Send Message</button>
          </div>
        </form>
      </div>
      <div class="contact-info">
        <p>📩 Wenn Du Fragen hast, kannst Du mir gerne eine Nachricht senden. Ich werde mich so schnell wie möglich bei Dir melden. 😊 Ich freue mich, von Dir zu hören!</p>
        <div class="social-icons">
          <a href="mailto:s.r.alem@gmail.com" target="_blank" title="Gmail">
            <mat-icon>email</mat-icon>
          </a>
          <a href="https://www.linkedin.com/in/said-roohullah-allem" target="_blank" title="LinkedIn" rel="noopener">
            <mat-icon>linkedin</mat-icon>
          </a>
          <a href="https://www.xing.com/profile/SaidRoohullah_Allem/cv" target="_blank" title="Xing" rel="noopener">
            <mat-icon>share</mat-icon>
          </a>
          <a href="https://github.com/jahanalem" target="_blank" title="GitHub" rel="noopener">
            <mat-icon>code</mat-icon>
          </a>
          <a href="https://www.facebook.com/roohiX19/" target="_blank" title="Facebook" rel="noopener">
            <mat-icon>facebook</mat-icon>
          </a>
          <a href="https://www.instagram.com/roohicode" target="_blank" title="Instagram" rel="noopener">
            <mat-icon>camera_alt</mat-icon>
          </a>
          <a href="https://t.me/Roohi_C" target="_blank" title="Telegram" rel="noopener">
            <mat-icon>send</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
