<div class="reset-password-container">
  <h2 class="title">{{ TranslationKeys.Auth.ResetPasswordTitle | translate }}</h2>
  <p class="description">
    {{ TranslationKeys.Auth.ResetPasswordText | translate }}
  </p>
  <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
    <div class="form-group">
      <input type="password" class="form-control" [placeholder]="TranslationKeys.Auth.NewPassword | translate" formControlName="newPassword"
        name="newPassword" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [placeholder]="TranslationKeys.Auth.RepeatNewPassword | translate" formControlName="repeatPassword"
        name="repeatPassword" required>
    </div>
    <button type="submit" class="submit-btn" [disabled]="!resetPasswordForm.valid">{{ TranslationKeys.Common.Confirm | translate }}</button>
  </form>
</div>
