.swiper-thumbnails {
    .swiper-slide {
        img {
            opacity: 0.7 !important;
            transition: all 0.3s !important;
            cursor: pointer !important;
        }

        &-thumb-active {
            img {
                opacity: 1 !important;
            }
        }
    }
}

.swiper-pagination-bullet-active {
    background: $primary;
}

[class*='swiper-button-'] {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        color: #333;
        font-size: 0.8rem;
        font-weight: bold;
    }
}


/* ==========================================
    CHOICES.JS
   ========================================== */
.choices {
    min-width: 14rem !important;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 3rem !important;
}

.choices__inner {
    padding: $input-padding-y $input-padding-x !important;
    min-height: $input-height !important;
    border-radius: 30rem !important;
    background-color: #fff !important;
    border-color: $input-border-color !important;
}

.choices__list--single {
    padding: 2px !important;
}


/* ==========================================
    NOUI RANGE SLIDER
   ========================================== */
.noUi-horizontal {
    height: 3px !important;
}

.noUi-target {
    background-color: $gray-200 !important;
    box-shadow: none !important;
    border: none !important;
}

.noUi-connect {
    background: $dark !important;;
}

.noUi-handle {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background: $dark !important;
    border: none !important;
    box-shadow: none !important;
    color: pointer !important;
    top: -4px !important;
    right: -8px !important;

    &::before, &::after {
        display: none !important;
    }

    &:hover, &:focus {
        outline: none !important;
        border: none !important;
    }
}


.noUi-tooltip {
    display: block !important;
    font-weight: bold !important;
    border: none !important;
    padding: 3px 5px !important;
    font-size: 0.7rem !important;
}



/*
* ==========================================================
*     Maps
* ==========================================================
*/
.map-custom-popup {

    .leaflet-popup-content-wrapper {
        overflow: hidden;
        padding: 0;
        border-radius: 0;
        background: transparent;
        font-family: $font-family-base;
        font-size: 0.8rem;
        line-height: 1.5;
    }

    .leaflet-popup-content {
        margin: 0;
        background: #fff;
    }

    .leaflet-popup-tip {
        background: #fff;
        box-shadow: none;
    }

    a.leaflet-popup-close-button {
        display: inline-block;
        width: 30px !important;
        height: 30px !important;
        padding: 0 !important;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        color: #fff !important;
        background: $dark !important;
        font-weight: bold;
        line-height: 30px !important;
    }

    .leaflet-popup-content {
        p {
            margin: 0 0 1rem;
        }
    }

    .popup-venue {
        display: flex;

        .image {
            width: 200px;
            background-position: center center;
            background-size: cover;
        }

        .text {
            width: 400px;
            padding: 1rem;
        }
    }

  }

  .map-custom-tooltip {
    padding: .5rem;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    font-family: $font-family-base;
    font-weight: bold;

    &.active {
        color: #fff;
        border-color: $primary;
        background-color: $primary;

        &:before {
            border-top-color: $primary;
        }
    }
  }
