/*
*
* ==========================================
* GENERAL
* ==========================================
*
*/

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

strong {
    font-weight: $font-weight-bold !important;
}

.breadcrumb-item {
    a {
        color: inherit;
        text-decoration: none;
    }
}

/*
*
* ==========================================
* NAVBAR
* ==========================================
*
*/

.top-bar {
    background: #222222;
    color: #bbbbbb;
}


.navbar {
    .megamenu {
      position: static;
    }

    .megamenu .dropdown-menu {
      background: none;
      border: none;
      width: 100%;
    }
}

.modal-close {
    position: absolute;
    top: -1px;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary !important;
    color: #fff;
    padding: 0;
    opacity: 1 !important;
    transition: all 0.3s;

    &:hover {
        background: darken($primary, 5%) !important;
        color: #fff;
    }
}

.dropdown-menu {
    @include media-breakpoint-up(lg) {
        display: block;
    }
    visibility: hidden;
    opacity:0;
    transform: translateY(0.5rem);
}

.dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity:1;
    transform: translateY(0px);
    transition:.2s all;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu-toggle {
    &::after {
        border: none;
        content: '\f107';
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        vertical-align: middle;
        font-size: 0.85rem;
        margin-left: 0.3rem;
    }
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.actions-nav-menu {
    font-size: 1.2rem;

    .icon-cart {
        font-size: 1.3rem;
    }

    .cart-no {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        font-weight: $font-weight-bold;
    }
}

.search-panel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;

    &-inner {
        background: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }
}

.seach-panel-close {
    position: absolute;
    top: 0;
    right: 0;
}


/*
*
* ==========================================
* SHOP
* ==========================================
*
*/
.modal-product-img {
    max-width: 20rem;
}

.category {
    min-height: 200px;
    background-position: top right !important;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

.product {
    &.bg-light {
        .image {
            .hover-overlay {
                background: rgba($light, 0.9);
            }
        }
    }

    .image {
        position: relative;
        &.h-auto {
            img {
                max-width: 100% !important
            }
        }

    }


    .image {
        &:hover {
            .hover-overlay {
                opacity: 1;
            }
            a {
                transform: none !important;
                opacity: 1 !important;
            }
        }
    }

    .ribbon {
        position: absolute;
        top: 10px;
        left: -11px;
        z-index: 999;
        font-size: 0.9em;
        &+.ribbon {
            top: 60px;
            &+.ribbon {
                top: 110px;
            }
        }
    }
    .title {
        padding: 15px 0;
        small {
            color: #777;
        }
        a {
            display: block;
            color: #333;
            text-decoration: none;
        }
    }
    .hover-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.92);
        opacity: 0;
        transition: all 0.5s;
        a {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border: 1px solid #ddd;
            color: #777;
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
                color: $primary;
                border-color: $primary;
            }
            &:first-of-type {
                transform: translateX(-20px);
                opacity: 0;
            }
            &:last-of-type {
                transform: translateX(20px);
                opacity: 0;
            }
            &.active {
                width: 120px;
                background: $primary;
                color: #fff;
                border-color: transparent;
                font-weight: 300;
                font-size: 0.8em;
                margin: 0 5px;
                opacity: 0;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

.sidebar-link, .sidebar-link-header {
    color: inherit;
    text-decoration: none;
    padding: 0.3rem 1rem;
    border-radius: 30rem;
    transition: all 0.3s;
    display: block;
    font-size: 0.9rem;
    color: #656565;

    &:hover, &:focus {
        background: #222;
        color: #fff;
        text-decoration: none;
    }
}

.sidebar-link-header {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: $font-weight-normal;
    color: #111;

    &.active {
        margin: 1rem 0;
        color: #fff;
        background: #222;
    }
}


/*
*
* ==========================================
* CONTACT
* ==========================================
*
*/
.contact-icon {
    font-size: 3rem;
}


/*
*
* ==========================================
* BLOG
* ==========================================
*
*/
.post-thumbnail {
    min-height: 15rem;
    background-position: top center !important;
}

.read-more {
    color: $primary;
    text-decoration: none;
    i {
        margin-left: 5px;
        transition: all 0.3s;
    }
    &:hover {
        i {
            transform: translateX(10px);
            opacity: 0;
        }
    }
}


/*
*
* ==========================================
* FOOTER
* ==========================================
*
*/
.footer {
    color: #888888;
}


/*
*
* ==========================================
* ABOUT
* ==========================================
*
*/
.team-member {
    .social {
        margin-bottom: 1rem;
        a {
            margin: 0 10px 0 0;
            color: #fff;
            display: inline-block;
            width: 26px;
            height: 26px;
            border-radius: 13px;
            line-height: 26px;
            font-size: 15px;
            text-align: center;
            vertical-align: bottom;
            i {
                vertical-align: bottom;
                line-height: 26px;
            }
            &.facebook {
                background-color: #4460ae;
            }
            &.gplus {
                background-color: #c21f25;
            }
            &.twitter {
                background-color: #3cf;
            }
            &.instagram {
                background-color: #cd4378;
            }
            &.email {
                background-color: #4a7f45;
            }
        }
    }
}


.about-icon {
    line-height: 1;
    padding: 0 2rem;
    font-size: 5rem;
    color: $primary;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 992px) {
        padding: 0;
        font-size: 4rem;
    }
}


/*
* ===================================================
*    MAP
* ===================================================
*/
#map {
    height: 400px;
}


/*
* ===================================================
*     SCROLL TOP BUTTON
* ===================================================
*/

#scrollTop {
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    background: $primary;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    cursor: pointer;
    display: none;
}


/*
* ===================================================
*     COMMING SOON
* ===================================================
*/
.coming-full-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.countdown-item {
    font-size: 5rem;
    line-height: 1;
}

.countdown-label {
    font-size: 1rem;
}
