.menu-button{
  display: none;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 50px;
}

.spacer {
  flex: 1;
}

.nav-icon {
  position: relative;
  margin-right: 16px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
}

.sidenav-container {
  height: calc(100vh - 64px);
  margin-top: 64px;
}

.sidenav {
  width: 250px;
}

.sidenav-logo {
  display: none;
  justify-content: center;
  padding: 16px 0;
}

.sidenav-logo img {
  max-width: 100%;
  height: auto;
}

.sidenav-buttons {
  display: flex;
  flex-direction: column;
}

@media (max-width:480px){
  .menu-button{
    display: block;
  }
  .logo-container {
    display: none;
  }

  .sidenav-logo {
    display: flex;
  }

  .sidenav-buttons {
    flex-direction: column;
    justify-content: space-around;
  }

  .sidenav-container {
    margin-top: 56px;
    height: calc(100vh - 56px);
  }
  .nav-links{
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-button{
    display: block;
  }
  .logo-container {
    display: none;
  }

  .sidenav-logo {
    display: flex;
  }

  .sidenav-buttons {
    flex-direction: column;
    justify-content: space-around;
  }

  .sidenav-container {
    margin-top: 56px;
    height: calc(100vh - 56px);
  }
}
