@if(basket(); as currentBasket)
{
  <div class="basket-container">
    <app-basket-summary (increment)="incrementItemQuantity($event)"
      (decrement)="decrementItemQuantity($event)" (remove)="removeBasketItem($event)"
      [items]="currentBasket.items">
    </app-basket-summary>

    @if(basketTotals(); as basketT)
    {
      <app-order-totals [shippingPrice]="basketT.shipping" [subtotal]="basketT.subtotal" [total]="basketT.total">
      </app-order-totals>
    }

    <div class="action-buttons">
      <button mat-stroked-button color="primary" routerLink="/shop">
        <mat-icon>arrow_back</mat-icon> Continue Shopping
      </button>
      <button mat-raised-button color="accent" routerLink="/checkout">
        Proceed to Checkout <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
}
@else {
  <div class="empty-basket-alert">
    <mat-card color="warn">
      <mat-card-content>
        <mat-icon>warning</mat-icon>
        There are no items in your basket
      </mat-card-content>
    </mat-card>
  </div>
}
