.action-buttons {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  width: 100%;
  max-width: 1200px;
}
.action-buttons button {
  flex: 1;
  margin: 0 8px;
  max-width: 600px;
}
.basket-summary, .order-summary {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.checkout-button {
  text-align: center;
  margin-top: 16px;
}

.empty-basket-alert {
  padding: 16px;
  text-align: center;
}

.empty-basket-alert mat-card {
  display: inline-block;
  padding: 16px;
  background-color: #ffcc00;
  color: #000;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .basket-container {
    padding: 8px;
    max-width: 100%;
  }

  .action-buttons {
    flex-direction: column;
    max-width: 100%;
  }

  .action-buttons button {
    margin: 8px 0;
    max-width: 100%;
  }
}
