table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: calc(100%/6);
}

.details-icon
{
  &:hover{
    color: var(--bs-primary);
  }
}

.edit-icon
{
  &:hover{
    color: var(--bs-warning);
  }
}

.delete-icon
{
  &:hover{
    color: var(--bs-danger);
  }
}

