<div mat-dialog-content class="content">
  <mat-icon class="icon">warning</mat-icon>
  <p class="message">{{ TranslationKeys.Admin.Common.DeleteContent | translate }}</p>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" class="confirm-button">{{ TranslationKeys.Common.Delete | translate }}</button>
  <button mat-button mat-dialog-close class="cancel-button">{{ TranslationKeys.Common.Cancel | translate }}</button>
</mat-dialog-actions>
