.content {
  display: flex;
  align-items: center;
}

.icon {
  color: #f44336;
  margin-right: 10px;
}

.message {
  margin: 0;
}

.confirm-button {
  color: #ffffff;
  background-color: #f44336;
}

.cancel-button {
  color: #3f51b5;
}
