<mat-form-field appearance="fill" class="full-width">
  <mat-label>{{ label() }}</mat-label>
  <textarea
    matInput
    #textarea
    [formControl]="formControl"
    rows="{{ rows() }}"
    id="{{ label() }}"
    (input)="onChanged($any($event.target).value)"
    (blur)="onTouched()"
    placeholder="{{ label() }}"
    title="{{ label() }}">
  </textarea>
  <mat-icon matSuffix *ngIf="controlDir.control?.valid" color="primary">check_circle</mat-icon>
  <!-- Error messages -->
  <mat-error *ngIf="controlDir?.control?.invalid && controlDir?.control?.touched">
    <span *ngIf="isThereAnyRequiredErrorType()">{{ label() }} is required</span>
  </mat-error>
</mat-form-field>
