<mat-form-field appearance="fill" class="full-width custom-textarea-field">
  <mat-label>{{ label() }}</mat-label>
  <textarea
    matInput
    #textarea
    [formControl]="formControl"
    [rows]="rows()"
    id="{{ label() }}"
    (input)="onChanged($any($event.target).value)"
    (blur)="onTouched()"
    placeholder="{{ label() }}"
    title="{{ label() }}"
    class="custom-textarea">
  </textarea>

  <!-- Valid Icon -->
  @if (controlDir.control?.valid) {
    <mat-icon matSuffix color="primary" class="valid-icon">
      check_circle
    </mat-icon>
  }

  <!-- Error Messages -->
  @if (controlDir.control?.invalid && controlDir.control?.touched) {
    <mat-error>
      @if (isThereAnyRequiredErrorType()) {
        <span>{{ label() }} is required</span>
      }
    </mat-error>
  }
</mat-form-field>
