<div class="photo-grid" *ngIf="product()">
  <div class="photo-item" *ngFor="let photo of product()!.productPhotos">
    <img src="{{photo.url}}" alt="photo of product" class="product-photo">
    <div class="button-group">
      <button mat-raised-button color="primary" type="button" [disabled]="photo.isMain" (click)="setMainPhoto(photo)">
        Main
      </button>
      <button mat-raised-button color="warn" [disabled]="photo.isMain" (click)="deletePhoto(photo.id)" type="button"
        title="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="upload-section">

  <div class="upload-dropzone">
    <h3>Add photos</h3>

    <div ng2FileDrop [ngClass]="{'file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
      [uploader]="uploader()" class="drop-zone">
      <mat-icon class="upload-icon">cloud_upload</mat-icon>
      <p>Drop photos here</p>
    </div>

    <label>Multiple</label>
    <input
    type="file"
      ng2FileSelect
      [uploader]="uploader()"
      multiple title="Select multiple files"
      aria-label="Select multiple files" />

    <label>Single</label>
    <input
      type="file"
      ng2FileSelect
      [uploader]="uploader()"
      title="Select a single file"
      aria-label="Select a single file" />
  </div>

  <div class="upload-queue" *ngIf="lengthOfFileItem">

    <h3>Upload queue</h3>
    <p>Queue length: {{ lengthOfFileItem }}</p>

    <table mat-table [dataSource]="fileQueue || []">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item"><strong>{{ item?.file?.name }}</strong></td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Size</th>
        <td mat-cell *matCellDef="let item" nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'size']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'size'];"></tr>
    </table>

    <mat-progress-bar mode="determinate" [value]="uploader()?.progress"></mat-progress-bar>

    <div class="button-group">
      <button mat-raised-button color="primary" (click)="uploader()?.uploadAll()"
        [disabled]="!uploader()?.getNotUploadedItems()?.length">
        Upload all
      </button>
      <button mat-raised-button color="warn" (click)="uploader()?.cancelAll()" [disabled]="!uploader()?.isUploading">
        Cancel all
      </button>
      <button mat-raised-button color="accent" (click)="uploader()?.clearQueue()"
        [disabled]="!uploader()?.queue?.length">
        Remove all
      </button>
    </div>

  </div>

</div>
