<ng-container *ngIf="basket$ | async">
  <section class="py-3">
    <div>
      <div class="cart-outer">
        <div class="cart-inner">
          <div [class.bg-light]="isBasket" class="rounded-pill px-4 py-3">
            <div class="row fw-normal text-uppercase">
              <div class="col-5"><strong>Product</strong></div>
              <div class="col-2"><strong>Price</strong></div>
              <div class="col-2"><strong>Quantity</strong></div>
              <div class="col-2"><strong>Total</strong></div>
              <div *ngIf="isBasket" class="col-1 text-center"><strong>Remove</strong></div>
            </div>
          </div>
          <!-- Product-->
          <div *ngFor="let item of (basket$ | async)?.items" class="p-4 border-bottom">
            <div class="row d-flex align-items-center bord">
              <div class="col-5">
                <div class="d-flex align-items-center"><img class="img-fluid" src="{{item.pictureUrl}}"
                    alt="{{item.productName}}" width="75">
                  <div class="ms-3">
                    <a routerLink="/shop/{{item.id}}">
                      <h5 class="mb-0 text-dark fw-normal">{{item.productName}}</h5><span class="text-muted">Size:
                        Large</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-2"><span>{{item.price | currency}}</span></div>
              <div class="col-2">
                <div [class.justify-content-center]="!isBasket" class="d-flex align-items-center">
                  <div class="quantity d-flex align-items-center me-4">
                    <i *ngIf="isBasket" (click)="decrementItemQuantity(item)"
                      class="fa fa-minus-circle text-primary mr-2 me-2" style="cursor: pointer; font-size: 2em;"></i>
                    <span class="font-weight-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                    <i *ngIf="isBasket" (click)="incrementItemQuantity(item)"
                      class="fa fa-plus-circle text-primary mx-2" style="cursor: pointer; font-size: 2em;"></i>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <span class="font-weight-bold" style="font-size: 1.5em;">
                  {{item.price * item.quantity | currency}}
                </span>
              </div>
              <div class="col-1 text-center">
                <a class="text-danger">
                  <i *ngIf="isBasket" (click)="removeBasketItem(item)" class="fa fa-trash"
                    style="font-size: 2em; cursor: pointer;"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- Product-->
        </div>
      </div>
    </div>
  </section>
</ng-container>
