<section class="cart-container">
  @for (item of items(); track $index) {
    <div class="cart-item">
      <div class="product-info">
        <img [src]="item.pictureUrl" [alt]="item.productName" class="product-image" title="product image">
        <div class="product-details">
          <h4>{{item.productName}}</h4>
          @if (item.variantDescription) {
            <p class="variant-description">{{ item.variantDescription }}</p>
          } @else if (item.type) {
            <p><strong>{{ TranslationKeys.Basket.TypeLabel | translate }}</strong> {{item.type}}</p>
          }
          @if (item.sku) {
            <p class="line-sku">{{ item.sku }}</p>
          }
          <span class="price">{{item.price | currency}}</span>
        </div>
      </div>
      <div class="quantity-controls">
        @if (isBasket()) {
          <button mat-icon-button color="primary" (click)="decrementItemQuantity(item)">
            <mat-icon>remove</mat-icon>
          </button>
        }
        <span class="quantity">{{item.quantity}}</span>
        @if (isBasket()) {
          <button mat-icon-button color="primary" (click)="incrementItemQuantity(item)">
            <mat-icon >add</mat-icon>
          </button>
        }
      </div>
      <div class="total-price" [style]="addPadding()">
        <span>{{item.price * item.quantity | currency}}</span>
      </div>
      @if (isBasket()) {
        <button  mat-icon-button color="warn" (click)="removeBasketItem(item)">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  }
</section>
