<div>
  <div class="vc-container">
    <div class="vc-content">
      <h1 class="vc-heading">500</h1>
      <p class="vc-sub-heading">{{ TranslationKeys.Errors.ServerErrorHeading | translate }}</p>
      <a routerLink="/" class="btn btn-outline-primary mt-4">{{ TranslationKeys.Errors.BackToHome | translate }}</a>
      @if (error()) {
        <h5 class="text-danger">Error: {{error().message}}</h5>
        <code class="mt-5" style="background-color: whitesmoke;">{{error().details}}</code>
      }
    </div>
  </div>
</div>
