<section class="pb-4">
  <div class="bg-white border rounded-5">
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email input -->
        <div class="form-floating  mb-4">
          <input formControlName="email" type="email" id="emailAddress" class="form-control"
            placeholder="name@example.com">
          <label for="emailAddress">Email address</label>
          <span class="text-danger" *ngIf="this.loginForm.get('email')?.invalid &&
            this.loginForm.get('email')?.touched &&
            this.loginForm.hasError('required','email')">
            Email address is required
          </span>
          <span class="text-danger" *ngIf="this.loginForm.get('email')?.invalid &&
            this.loginForm.get('email')?.touched &&
            this.loginForm.hasError('pattern','email')">
            Email address is not valid
          </span>
        </div>

        <!-- Password input -->
        <div class="form-floating mb-4">
          <input formControlName="password" type="password" id="password" class="form-control"
            placeholder="name@example.com">
          <label for="password">Password</label>
          <span class="text-danger" *ngIf="this.loginForm.get('password')?.invalid &&
          this.loginForm.get('password')?.touched &&
          this.loginForm.hasError('required','password')">
            Password is required
          </span>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked="">
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block mb-4"><i class="fa fa-sign-in me-2"></i>Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a routerLink="/account/register">Register</a></p>
          <p>or sign up with:</p>
          <button title="facebook" type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-facebook-f"></i>
          </button>

          <button title="google" type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-google"></i>
          </button>

          <button title="twitter" type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-twitter"></i>
          </button>

          <button title="github" type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-github"></i>
          </button>
        </div>
      </form>
    </section>
  </div>
</section>
