<section class="register-container">
  <div class="register-card">
    <section class="register-content">
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
        <app-text-input
          data-cy="display-name-container"
          formControlName="displayName"
          [label]="'Display Name'"
          class="full-width">
        </app-text-input>

        <app-text-input
          data-cy="email-container"
          formControlName="email"
          [label]="'Email address'"
          class="full-width">
        </app-text-input>

        <app-text-input
          data-cy="password-container"
          formControlName="password"
          [label]="'Password'"
          [type]="'password'"
          [showPasswordRules]="true"
          [autocomplete]="'new-password'"
          class="full-width">
        </app-text-input>

        <app-text-input
          data-cy="confirm-password-container"
          formControlName="confirmPassword"
          [label]="'Confirm Password'"
          [type]="'password'"
          [autocomplete]="'new-password'"
          class="full-width">
        </app-text-input>

        <button
          data-cy="submit-button"
          [disabled]="!isFormValid()"
          type="submit"
          mat-raised-button
          color="primary"
          class="full-width register-button">
          <mat-icon>person_add</mat-icon> Register
        </button>

        @if (errors()) {
          <ul class="error-list">
            @for(error of errors(); track error){
              <li>{{error}}</li>
            }
          </ul>
        }
      </form>
    </section>

    <div class="google-signin-container">
      <div id="buttonDiv" data-cy="google-signin-btn"></div>
    </div>
  </div>
</section>
