<section class="register-container">
  <div class="register-card">
    <section class="register-content">
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
        <!-- Display Name -->
        <app-text-input formControlName="displayName" [label]="'Display Name'" class="full-width"></app-text-input>
        <!-- Email -->
        <app-text-input formControlName="email" [label]="'Email address'" class="full-width"></app-text-input>
        <!-- Password -->
        <app-text-input formControlName="password" [label]="'Password'" [type]="'password'" [autocomplete]="'new-password'" class="full-width"></app-text-input>
        <!-- Confirm Password -->
        <app-text-input formControlName="confirmPassword" [label]="'Confirm Password'" [type]="'password'" [autocomplete]="'new-password'" class="full-width"></app-text-input>
        <!-- Submit button -->
        <button [disabled]="isFormValid()" type="submit" mat-raised-button color="primary" class="full-width register-button">
          <mat-icon>person_add</mat-icon> Register
        </button>

        <ul class="error-list" *ngIf="errors">
          @for(error of errors(); track error){
          <li>{{error}}</li>
          }
        </ul>
      </form>
    </section>
    <div class="google-signin-container">
      <div id="buttonDiv"></div>
    </div>
  </div>
</section>
