<footer class="footer">
  <div class="footer-container">
    <div class="footer-row">
      <!-- About Section -->
      <div class="footer-column about">
        <h3>About Lili Shop</h3>
        <p>
          Lili Shop offers a wide range of chic and simple fashion products, catering to all your style needs.
          Discover the latest trends and timeless classics in our collection.
        </p>
      </div>

      <!-- Quick Links Section -->
      <div class="footer-column links">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Contact Information Section -->
      <div class="footer-column contact">
        <h3>Contact Me</h3>
        <p>
          <mat-icon>location_on</mat-icon> 60438 Frankfurt am Main
        </p>
        <p>
          <mat-icon>email</mat-icon> s.r.alem&#64;gmail.com
        </p>
        <p>
          <mat-icon>phone</mat-icon> +4917642784***
        </p>
      </div>

      <!-- Social Media Section -->
      <div class="footer-column social">
        <h3>Follow Me</h3>
        <div class="social-icons">
          <a title="facebook" href="https://www.facebook.com/roohiX19" target="_blank" class="social-link"
            rel="noopener">
            <i class="fab fa-facebook"></i>
          </a>
          <a title="telegram" href="https://t.me/Roohi_C" target="_blank" class="social-link" rel="noopener">
            <i class="fab fa-telegram"></i>
          </a>
          <a title="instagram" href="https://www.instagram.com/roohicode/" target="_blank" class="social-link"
            rel="noopener">
            <i class="fab fa-instagram"></i>
          </a>
          <a title="github" href="https://github.com/jahanalem" target="_blank" class="social-link" rel="noopener">
            <i class="fab fa-github"></i>
          </a>
          <a title="linkedin" href="https://www.linkedin.com/in/said-roohullah-allem/" target="_blank"
            class="social-link" rel="noopener">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Lili Shop. All rights reserved.</p>
    </div>
  </div>
</footer>
