@if(product())
{
<section class="py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="product position-relative mb-3">
          <div class="swiper-container" id="detailSlider">
            <img class="img-fluid d-block mx-auto" src="{{product().pictureUrl}}" alt="{{product().name}}">
          </div>
        </div>
      </div>
      <!-- Item info-->
      <div class="col-lg-6">
        <div class="row mb-4 gy-3">
          <div class="col-sm-6">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <p class="h5 text-primary mb-0">{{product().price | currency}}</p>
              </li>
              <li class="list-inline-item">
                <p class="h5 fw-normal text-gray-5 text-decoration-line-through mb-0">$90.00</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">

          </div>
        </div>
        <p class="text-small text-muted mb-4">{{product().description}}</p>
        <div class="d-flex align-items-center justify-content-start mb-4">
          <div class="quantity d-flex align-items-center me-4">
            <i (click)="decrementQuantity()" class="fa fa-minus-circle text-primary mr-2 me-2"
              style="cursor: pointer; font-size: 2em;"></i>
            <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity()}}</span>
            <i (click)="incrementQuantity()" class="fa fa-plus-circle text-primary mx-2"
              style="cursor: pointer; font-size: 2em;"></i>
          </div>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a (click)="addItemToBasket()" class="btn btn-primary px-5">
              <i class="fa fa-shopping-cart fa-lg me-2"></i>
              Add to cart
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
}
