<main class="about-container">
  <section class="profile-section">
    <img src="../../assets/img/roohi.jpg" alt="Roohi's Photo" class="profile-photo" />

    <div class="bio-section">
      <p class="bio-text">
        I am a Web Application Developer with experience in both front-end and back-end application construction.
      </p>
      <p class="bio-text">
        Keeping up with emerging technologies is one of my most significant interests.
      </p>
      <p class="bio-text">
        My primary areas of expertise include C#.NET and ASP.NET Core, Typescript, and Angular.
        However, I am eager to explore and work with a wide variety of other technologies.
      </p>
      <p class="bio-text">
        Currently, Lili-Shop is not a legitimate online store, but that will be changing in the future. In order to build this website, I relied on Angular and .NET 8.
      </p>
      <p class="bio-text">
        Besides programming, I enjoy chess and table tennis.
      </p>
      <div class="social-links">
        <a href="mailto:s.r.alem@gmail.com" target="_blank" title="Email">
          ✉️
        </a>
        <a href="https://www.linkedin.com/in/said-roohullah-allem" target="_blank" title="LinkedIn" rel="noopener">
          💼
        </a>
        <a href="https://www.xing.com/profile/SaidRoohullah_Allem/cv" target="_blank" title="Xing" rel="noopener">
          🏢
        </a>
        <a href="https://github.com/jahanalem" target="_blank" title="GitHub" rel="noopener">
          🐱
        </a>
        <a href="https://www.facebook.com/roohiX19/" target="_blank" title="Facebook" rel="noopener">
          📘
        </a>
        <a href="https://www.instagram.com/roohicode" target="_blank" title="Instagram" rel="noopener">
          📷
        </a>
        <a href="https://t.me/Roohi_C" target="_blank" title="Telegram" rel="noopener">
          ✈️
        </a>
      </div>
    </div>
  </section>

  <section class="tech-stack-section">
    <mat-card class="tech-card">
      <mat-card-header>
        <mat-card-title>
          🖥️🔧 Tech Stack in Frontend
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>🅰️ Angular 18</li>
          <li>🟦 Typescript</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="tech-card">
      <mat-card-header>
        <mat-card-title>
          🛠️🔙 Tech Stack in Backend
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>🌐8️⃣ .NET 8</li>
          <li>#️⃣ C#</li>
          <li>🗃️ Entity Framework</li>
          <li>🛑 Redis</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </section>
</main>
