<!-- Order Details Section-->
<section>
  <div class="order-summary-container">
    <div class="order-summary-header">
      <h6 class="text-uppercase">Order Summary</h6>
    </div>
    <div class="order-summary-content">
      <p class="text-muted">Shipping and additional costs are calculated based on values you have entered.</p>
      <ul class="order-summary-list">
        <li class="order-summary-item">
          <span>Order Subtotal</span>
          <strong>{{subtotal() | currency}}</strong>
        </li>
        <li class="order-summary-item">
          <span>Shipping and handling</span>
          <strong>{{shippingPrice() | currency}}</strong>
        </li>
        <li class="order-summary-item order-total">
          <span>Total</span>
          <strong class="total-price">{{total() | currency}}</strong>
        </li>
      </ul>
    </div>
  </div>
</section>
