<!-- Order Details Section-->
<section class="pb-5">
  <div class="container pb-5">
    <div class="row gy-4">
      <!-- <div class="col-lg-6">
        <div class="bg-light rounded-pill px-4 py-3">
          <h6 class="mb-0 text-uppercase">Coupon Code</h6>
        </div>
        <div class="p-4">
          <p>If you have a coupon code, please enter it in the box below</p>
          <form action="#">
            <div class="input-group mb-3">
              <input title="coupon" class="form-control" type="text" name="coupon">
              <button class="btn btn-dark" type="button">Apply coupon</button>
            </div>
          </form>
        </div>
        <div class="bg-light rounded-pill px-4 py-3">
          <h6 class="mb-0 text-uppercase">Instructions for seller</h6>
        </div>
        <div class="p-4">
          <p>If you have some information for the seller you can leave them in the box below</p>
          <form action="#">
            <textarea title="instructions" class="rounded form-control" name="instructions"></textarea>
          </form>
        </div>
      </div> -->
      <div class="col-lg-12">
        <div class="bg-light rounded-pill px-4 py-3">
          <h6 class="mb-0 text-uppercase">Order Summary</h6>
        </div>
        <div class="p-4">
          <p class="text-muted">Shipping and additional costs are calculated based on values you have entered.</p>
          <ul *ngIf="(basketTotal$ | async) as basketTotal" class="list-unstyled">
            <li class="d-flex justify-content-between py-3 border-bottom"><span>Order Subtotal </span><strong
                class="fw-normal">{{basketTotal.subtotal | currency}}</strong></li>
            <li class="d-flex justify-content-between py-3 border-bottom"><span>Shipping and handling</span><strong
                class="fw-normal">{{basketTotal.shipping | currency}}</strong></li>
            <li class="d-flex justify-content-between py-3 border-bottom"><span>Total</span><strong
                class="text-primary h5 mb-0">{{basketTotal.total | currency}}</strong></li>
            <!-- <li class="d-flex justify-content-between py-3 border-bottom"><span>Tax</span><strong
                class="fw-normal">19%</strong></li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-12 text-center py-4">
        <a routerLink="/checkout" class="btn btn-primary btn-lg px-5">Proceed to checkout
          <i class="fa fa-long-arrow-right ms-2"></i>
        </a>
      </div>
    </div>
  </div>
</section>
