<!-- Order Details Section-->
<section>
  <div class="order-summary-container">
    <div class="order-summary-header">
      <h6 class="text-uppercase">{{ TranslationKeys.OrderTotals.Title | translate }}</h6>
    </div>
    <div class="order-summary-content">
      <p class="text-muted">{{ TranslationKeys.OrderTotals.Hint | translate }}</p>
      <ul class="order-summary-list">
        <li class="order-summary-item">
          <span>{{ TranslationKeys.OrderTotals.Subtotal | translate }}</span>
          <strong>{{subtotal() | currency}}</strong>
        </li>
        <li class="order-summary-item">
          <span>{{ TranslationKeys.OrderTotals.Shipping | translate }}</span>
          <strong>{{shippingPrice() | currency}}</strong>
        </li>
        <li class="order-summary-item order-total">
          <span>{{ TranslationKeys.OrderTotals.Total | translate }}</span>
          <strong class="total-price">{{total() | currency}}</strong>
        </li>
      </ul>
    </div>
  </div>
</section>
