<button mat-raised-button color="primary" (click)="navigateBack()" class="back-button">
  <mat-icon class="arrow-back">arrow_back</mat-icon>
  Back
</button>

<form *ngIf="adminUserForm" [formGroup]="adminUserForm" (ngSubmit)="onSubmit()" class="admin-user-form">
  <div class="form-container">
    <div class="form-row">
      <div class="form-section">
        <!-- ID (Read-Only) -->
        <div class="form-group readonly-field">
          <mat-form-field appearance="outline" class="custom-mat-field">
            <mat-label>ID</mat-label>
            <input formControlName="id" matInput placeholder="ID" readonly>
          </mat-form-field>
        </div>

        <!-- Email -->
        <div class="form-group readonly-field">
          <mat-form-field appearance="outline" class="custom-mat-field">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email" readonly>
          </mat-form-field>
        </div>

        <!-- Display Name -->
        <div class="form-group">
          <mat-form-field appearance="outline" class="custom-mat-field">
            <mat-label>display name</mat-label>
            <input formControlName="displayName" matInput placeholder="display name">
          </mat-form-field>
        </div>

        <!-- Role Name -->
        <div class="form-group">
          <mat-form-field appearance="outline" class="custom-mat-field">
            <mat-label>Role name</mat-label>
            <mat-select formControlName="roleId">
              <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Phone Number -->
        <div class="form-group">
          <mat-form-field appearance="outline" class="custom-mat-field">
            <mat-label>Telephone number</mat-label>
            <input formControlName="phoneNumber" matInput placeholder="Telephone number">
          </mat-form-field>
        </div>

        <!-- Email Confirmed -->
        <div class="form-group">
          <mat-checkbox formControlName="emailConfirmed">Email confirmed?</mat-checkbox>
        </div>

        <!-- Phone Number Confirmed -->
        <div class="form-group">
          <mat-checkbox formControlName="phoneNumberConfirmed">Phone number confirmed?</mat-checkbox>
        </div>


        <!-- Lockout Enabled -->
        <div class="form-group">
          <mat-checkbox formControlName="lockoutEnabled">Lockout activated?</mat-checkbox>
        </div>

        <!-- Lockout End (Read-Only) -->
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Lockout end time</mat-label>
            <input formControlName="lockoutEnd" matInput placeholder="Lockout end time" readonly>
          </mat-form-field>
        </div>

        <!-- Access Failed Count (Read-Only) -->
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Failed access attempts</mat-label>
            <input formControlName="accessFailedCount" matInput placeholder="Failed access attempts" readonly>
          </mat-form-field>
        </div>

        <!-- Save Button -->
        <button type="submit" mat-raised-button class="btn btn-primary">Save</button>

      </div>
    </div>
  </div>
</form>
