<mat-card class="subscriptions-card">
  <mat-card-header>
    <mat-card-title>
      {{ TranslationKeys.Subs.Title | translate }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (isLoading()) {
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    } @else {
      @if (subscriptions().length>0) {
        <table class="subscriptions-table" mat-table
          [dataSource]="subscriptions()">
          <!-- Product Name Column -->
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef>{{ TranslationKeys.Subs.ProductName | translate }}</th>
            <td mat-cell *matCellDef="let sub">
              <a [routerLink]="['/shop', sub.productId]" target="_blank">{{ sub.productName }}</a>
            </td>
          </ng-container>
          <!-- Current Price Column -->
          <ng-container matColumnDef="currentPrice">
            <th mat-header-cell *matHeaderCellDef>{{ TranslationKeys.Subs.CurrentPrice | translate }}</th>
            <td mat-cell *matCellDef="let sub">
              {{ sub.productPrice | currency }}
            </td>
          </ng-container>
          <!-- Old Price Column -->
          <ng-container matColumnDef="oldPrice">
            <th mat-header-cell *matHeaderCellDef>{{ TranslationKeys.Subs.OldPrice | translate }}</th>
            <td mat-cell *matCellDef="let sub">
              @if (sub.oldPrice !== null) {
                {{ sub.oldPrice | currency }}
              } @else {
                -
              }
            </td>
          </ng-container>
          <!-- Subscription Date Column -->
          <ng-container matColumnDef="subscriptionDate">
            <th mat-header-cell *matHeaderCellDef>{{ TranslationKeys.Subs.Date | translate }}</th>
            <td mat-cell *matCellDef="let sub">{{ sub.subscriptionDate | date:'short' }}</td>
          </ng-container>
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>{{ TranslationKeys.Orders.Action | translate }}</th>
            <td mat-cell *matCellDef="let sub">
              <button mat-raised-button color="warn" (click)="unsubscribe(sub.productId)">{{ TranslationKeys.Subs.Unsubscribe | translate }}</button>
            </td>
          </ng-container>
          <!-- Header / Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      } @else {
        <div class="no-subscriptions">
          <mat-icon>info_outline</mat-icon>
          <p>{{ TranslationKeys.Subs.Empty | translate }}</p>
        </div>
      }
    }

  </mat-card-content>
</mat-card>
