<!-- <carousel>
  <slide>
      <img src="../../assets/img/hero-bg.jpg" alt="first slide"  style="display: block; width: 100%;">
  </slide>
  <slide>
      <img src="../../assets/img/hero-bg-2.jpg" alt="second slide"  style="display: block; width: 100%; ">
  </slide>
  <slide>
      <img src="../../assets/img/hero-bg-3.jpg" alt="third slide" style="display: block; width: 100%; ">
  </slide>
</carousel> -->
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
      <h1>Welcome to the Lili shop!</h1>
  </div>
</section>
