<section class="pb-4">
  <div class="bg-white border rounded-5">
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form class="w-100 w-sm-50 w-md-50 w-lg-50" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email input -->
        <app-text-input formControlName="email" [label]="'Email address'"></app-text-input>
        <!-- Password input -->
        <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
        <!-- Submit button -->
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block mb-4">
          <i class="fa fa-sign-in me-2"></i>Sign in
        </button>
      </form>
    </section>
  </div>
</section>
