<section class="py-5">
  <div class="container py-5">
    <div class="row gy-5 gx-5">
      <div class="col-lg-8">
        <app-stepper [linearModeSelected]="false" #appStepper>
          <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')?.valid)">
            <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
          </cdk-step>
          <cdk-step [label]="'Delivery'" [completed]="(checkoutForm.get('deliveryForm')?.valid)">
            <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
          </cdk-step>
          <cdk-step [label]="'Review'">
            <app-checkout-review [appStepper]="appStepper"></app-checkout-review>
          </cdk-step>
          <cdk-step [label]="'Payment'">
            <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
          </cdk-step>
        </app-stepper>
      </div>
      <div class="col-lg-4">
        <div class="card rounded-0">
          <div>
            <app-order-totals *ngIf="(basketTotals$ | async) as basketTotals" [shippingPrice]="basketTotals.shipping"
              [subtotal]="basketTotals.subtotal" [total]="basketTotals.total">
            </app-order-totals>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
