<section class="checkout-section">
  <div class="checkout-container">
    <div class="checkout-content">
      <div class="checkout-stepper">
        <mat-stepper [linear]="true" #appStepper>
          <mat-step [completed]="checkoutForm.address().valid()" [label]="TranslationKeys.Checkout.StepAddress | translate">
            <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
          </mat-step>

          <mat-step [completed]="checkoutForm.delivery().valid()" [label]="TranslationKeys.Checkout.StepDelivery | translate">
            <app-checkout-delivery
              [checkoutForm]="checkoutForm"
              (deliveryMethodSelected)="onDeliveryMethodSelected($event)">
            </app-checkout-delivery>
          </mat-step>

          <mat-step [label]="TranslationKeys.Checkout.StepReview | translate">
            <app-checkout-review [appStepper]="appStepper"></app-checkout-review>
          </mat-step>

          <mat-step [label]="TranslationKeys.Checkout.StepPayment | translate">
            <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
          </mat-step>
        </mat-stepper>
      </div>

      <div class="checkout-summary">
        <mat-card>
          @if (basketTotals(); as basketTotals) {
            <app-order-totals
              [shippingPrice]="basketTotals.shipping"
              [subtotal]="basketTotals.subtotal"
              [total]="basketTotals.total">
            </app-order-totals>
          }
        </mat-card>
      </div>
    </div>
  </div>
</section>
