<section class="checkout-section">
  <div class="checkout-container">
    <div class="checkout-content">
      <div class="checkout-stepper">
        <mat-stepper [linear]="true" #appStepper>
          <mat-step [completed]="(checkoutForm.get('addressForm')?.valid)" label="Address">
            <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
          </mat-step>

          <mat-step [completed]="(checkoutForm.get('deliveryForm')?.valid)" label="Delivery">
            <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
          </mat-step>

          <mat-step label="Review">
            <app-checkout-review [appStepper]="appStepper"></app-checkout-review>
          </mat-step>

          <mat-step label="Payment">
            <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
          </mat-step>
        </mat-stepper>
      </div>

      <div class="checkout-summary">
        <mat-card>
          @if(basketTotals(); as basketTotals) {
            <app-order-totals
              [shippingPrice]="basketTotals.shipping"
              [subtotal]="basketTotals.subtotal"
              [total]="basketTotals.total">
            </app-order-totals>
          }
        </mat-card>
      </div>
    </div>
  </div>
</section>
