<section class="confirmation-container">
  <div class="confirmation-card">
    <div class="confirmation-icon">
      <i class="fa fa-check"></i>
    </div>
    <h2 class="confirmation-title">
      {{ TranslationKeys.Checkout.ThankYou | translate: [(currentUser$ | async)?.displayName ?? ''] }}
    </h2>
    <p class="confirmation-message">
      {{ TranslationKeys.Checkout.NotShippedNote | translate }}
    </p>
    <div class="confirmation-buttons">
      @if (order()) {
        <button
          mat-raised-button
          color="primary"
          routerLink="/orders/{{ order().id }}"
          >
          {{ TranslationKeys.Checkout.ViewYourOrder | translate }}
        </button>
      }
      @if (!order()) {
        <button
          mat-raised-button
          color="primary"
          routerLink="/orders"
          >
          {{ TranslationKeys.Checkout.ViewYourOrders | translate }}
        </button>
      }
    </div>
  </div>
</section>
