<section class="confirmation-container">
  <div class="confirmation-card">
    <div class="confirmation-icon">
      <i class="fa fa-check"></i>
    </div>
    <h2 class="confirmation-title">
      Thank you, {{ (currentUser$ | async)?.displayName }}. Your order is confirmed.
    </h2>
    <p class="confirmation-message">
      Your order hasn't shipped yet but this is to be expected as we are not a real store.
    </p>
    <div class="confirmation-buttons">
      @if (order()) {
        <button
          mat-raised-button
          color="primary"
          routerLink="/orders/{{ order().id }}"
          >
          View your order
        </button>
      }
      @if (!order()) {
        <button
          mat-raised-button
          color="primary"
          routerLink="/orders"
          >
          View your orders
        </button>
      }
    </div>
  </div>
</section>
