@if(order(); as orderDetails)
{
<div class="order-container mat-elevation-z2">
  <!-- Product Summary -->
  <app-basket-summary [isOrder]="true" [isBasket]="false" [items]="orderDetails.orderItems"></app-basket-summary>
  <app-order-totals
    [shippingPrice]="orderDetails.shippingPrice"
    [subtotal]="orderDetails.subtotal"
    [total]="orderDetails.total">
  </app-order-totals>

  <!-- Shipping Address -->
  <div class="shipping-address">
    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <mat-card-title>Shipping Address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="address-list">
          <li>{{orderDetails.shipToAddress.firstName}} {{orderDetails.shipToAddress.lastName}}</li>
          <li>{{orderDetails.shipToAddress.street}}</li>
          <li>{{orderDetails.shipToAddress.zipCode}} {{orderDetails.shipToAddress.city}} ({{orderDetails.shipToAddress.state}})</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
}
