<main class="py-5">
  <div class="container py-5">
    <div class="row gx-lg-5">
      <div class="col-xl-3 col-lg-4">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="search" aria-label="search">
          <button class="btn btn-outline-secondary" type="button" title="search"
            style="padding-left: 8px; padding-right: 8px;"><i class="fa fa-search fa-lg"></i></button>
          <button class="btn btn-outline-secondary" type="button" title="reset"
            style="width:1rem; padding-left: 6px;"><i class="fa fa-refresh"></i></button>
        </div>

        <div class="my-4"></div>

        <h6 class="text-uppercase mb-4">Sort</h6>
        <select name="sort" class="form-select mb-4" (change)="onSortSelected($event.target!)">
          <option *ngFor="let sort of sortOptions" [selected]="shopParams.sort === sort.value" [value]="sort.value">
            {{sort.name}}
          </option>
        </select>

        <div class="border-bottom my-4"></div>

        <ng-container *ngIf="types && brands">

          <!-- Brands-->
          <h6 class="text-uppercase mb-4">Show by brand</h6>
          <div>
            <select name="brand" class="form-select mb-4" (change)="onBrandSelected($event.target!)">
              <option *ngFor="let brand of brands" [selected]="brand.id ===  shopParams.brandId" [value]="brand.id">
                {{brand.name}}
              </option>
            </select>
          </div>

          <div class="border-bottom my-4"></div>

          <h6 class="text-uppercase mb-4">Show by Type</h6>
          <div>
            <select name="type" class="form-select mb-4" (change)="onTypeSelected($event.target!)">
              <option *ngFor="let type of types" [selected]="type.id ===  shopParams.typeId" [value]="type.id">
                {{type.name}}
              </option>
            </select>
          </div>

          <div class="border-bottom my-4"></div>

        </ng-container>

        <!-- Sizes-->
        <h6 class="text-uppercase mb-4">Size </h6>
        <form action="#">
          <div class="form-check mb-1">
            <input class="form-check-input" id="size0" type="radio" name="size" checked>
            <label class="form-check-label" for="size0">Small </label>
          </div>
          <div class="form-check mb-1">
            <input class="form-check-input" id="size1" type="radio" name="size">
            <label class="form-check-label" for="size1">Medium </label>
          </div>
          <div class="form-check mb-1">
            <input class="form-check-input" id="size2" type="radio" name="size">
            <label class="form-check-label" for="size2">Large </label>
          </div>
          <div class="form-check mb-1">
            <input class="form-check-input" id="size3" type="radio" name="size">
            <label class="form-check-label" for="size3">X-Large </label>
          </div>
        </form>
      </div>
      <!-- Grid -->
      <div class="col-xl-9 col-lg-8">
        <!-- Filters-->
        <div class="d-flex justify-content-between align-items-start mb-5">

          <app-paging-header [pageNumber]="this.shopParams.pageNumber" [pageSize]="this.shopParams.pageSize"
            [totalCount]="this.totalCount">
          </app-paging-header>

        </div>
        <div class="row gy-5 mb-5">
          <!-- item-->
          <div class="item col-xl-4 col-md-6" *ngFor="let item of products">
            <app-product-item [product]="item"></app-product-item>
          </div>

        </div>
        <!-- Pagination-->
        <nav class="pagination justify-content-center" aria-label="Page navigation example">

          <app-pager [pageSize]="this.shopParams.pageSize" [totalCount]="this.totalCount"
            (pageChanged)="onPageChanged($event)">
          </app-pager>

        </nav>
      </div>
      <!-- / Grid End-->
    </div>
  </div>
</main>
<!--  Modal -->
