@if(basket(); as basket){
<app-basket-summary
    [isBasket]="false"
    [items]="basket.items">
</app-basket-summary>
}
<div class="action-buttons">
  <button mat-stroked-button color="primary" cdkStepperPrevious>
    <mat-icon>arrow_back</mat-icon> {{ TranslationKeys.Checkout.BackToDelivery | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="createPaymentIntent()">
    {{ TranslationKeys.Checkout.GoToPayment | translate }} <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
