@import "../src/assets/scss/style.default.scss";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/ngx-spinner/animations/ball-spin.css";
// @import "../node_modules/nouislider/dist/nouislider.css";
// @import "../node_modules/swiper/swiper-bundle.css";
// @import "../node_modules/leaflet/dist/leaflet.css";
// @import "../node_modules/universal-parallax/dist/universal-parallax.min.css";
// @import "../node_modules/choices.js/public/assets/styles/choices.css";
// @import "../node_modules/glightbox/dist/css/glightbox.css";
// @import "../node_modules/nouislider/dist/nouislider.min.css";
// @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&amp;display=swap";

.form-control, .btn,.rounded-pill {
  border-radius: .5rem !important;
}

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: var(--template-color);
}

.xng-breadcrumb-separator {
  padding: 0 0;
}
