<div class="mt-4" [formGroup]="checkoutForm">
  <div class="row" formGroupName="deliveryForm">
    <div class="col-6 form-group" *ngFor="let dMethod of deliveryMethods">
      <input type="radio" id="{{dMethod.id}}" value="{{dMethod.id}}" formControlName="deliveryMethod"
        class="custom-control-input" title="dm">
      <label for="{{dMethod.id}}" class="custom-control-label">
        <strong>{{dMethod.shortName}} - {{dMethod.price | currency}}</strong>
        <br>
        <span class="label-description">{{dMethod.description}}</span>
      </label>
    </div>
  </div>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Back to address
  </button>
  <button class="btn btn-primary" cdkStepperNext>
    Go to review <i class="fa fa-angle-right"></i>
  </button>
</div>
