.product-form {
  margin: 20px 0;
}

.form-left,
.form-right {
  padding: 20px;
  border-radius: 4px;
}

.form-left {
  background-color: #f5f5f5;
}

.form-right {
  background-color: #e9ecef;
}

.form-group {
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
}

.add-size-btn {
  margin-bottom: 20px;
}

.size-group {
  margin-bottom: 20px;
}

.add-size-btn {
  margin-bottom: 20px;
}

.input-width {
  width: 100%;
  /* Adjust the width percentage as needed */
}

/* Button mit Icon */
button.mat-raised-button {
  margin: 20px 0;
  font-size: 18px;
  padding: 12px 24px;
  display: inline-flex;
  align-items: center;  /* Vertikale Ausrichtung */
}

.arrow-back {
  margin-right: 8px;  /* Abstand zwischen Icon und Text */
  vertical-align: middle;  /* Vertikale Ausrichtung */
  color: green;  /* Ändern der Icon-Farbe */
}

.alert-message {
  color: red;
  font-weight: bold;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
}
